<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>hthebmlvyznmry@tznvy.pbz</string>
	<key>contactName</key>
	<string>Uğur Özyılmazel</string>
	<key>description</key>
	<string>Bulma CSS framework bundle for TextMate. Checkout https://bulma.io</string>
	<key>name</key>
	<string>TextMate2 Bulma CSS</string>
	<key>uuid</key>
	<string>D5572554-9483-4334-8D3D-88B29EC66D7E</string>
    <key>mainMenu</key>
    <dict>
        <key>items</key>
        <array>
            <string>3BB60A94-1215-4755-A76F-061821138628</string>
            <string>------------------------------------</string>
            <string>26CBA2E7-E4F5-43F5-8DFD-65F0F3FE4F4B</string>
            <string>CEBA06B3-DFA7-40FB-A8AB-B9EB837B4143</string>
            <string>3AD903C0-FB67-4232-AED9-0189D3738F97</string>
            <string>485014A5-E7A4-4AE0-B4CE-5B1EF80B8779</string>
            <string>------------------------------------</string>
            <string>17C3C2AA-38F7-44FA-970C-8CC89673EEFC</string>
            <string>0E2D52BC-67DA-4A0F-B952-C8CAC49CEF2E</string>
            <string>2649E6F0-CBC6-41FD-ADC1-CDC440877CEB</string>
            <string>------------------------------------</string>
            <string>46025736-CCA5-477E-A9ED-8BD5D9395E35</string>
            <string>------------------------------------</string>
        </array>

        <key>submenus</key>
        <dict>
            <key>26CBA2E7-E4F5-43F5-8DFD-65F0F3FE4F4B</key>
            <dict>
                <key>items</key>
                <array>
                    <string>6B9D541E-863A-419E-9339-F779055A0235</string>
                    <string>5E9EE5E7-E1B9-44F4-9FB1-C11CF49815BF</string>
                </array>
                <key>name</key>
                <string>Color Helpers</string>
            </dict>
            
            <key>CEBA06B3-DFA7-40FB-A8AB-B9EB837B4143</key>
            <dict>
                <key>items</key>
                <array>
                    <string>1DBB3841-5774-42BF-B6B0-172D93615544</string>
                    <string>C0D46DAD-0F1F-4C16-8B3C-C3694BC127CC</string>
                    <string>393B913B-9444-4B15-AC4A-6648ED6975A2</string>
                    <string>32BE7EA4-68DA-4AB1-94D7-377ECCC93D17</string>
                    <string>14244E7C-57E2-4027-8905-083FC8CBF17A</string>
                    <string>01216922-B19A-4C4B-88C0-AC97432ADA93</string>
                    <string>D718E3DC-7870-4349-8AC3-79E551EAB974</string>
                </array>
                <key>name</key>
                <string>Typography Helpers</string>
            </dict>
            
            <key>17C3C2AA-38F7-44FA-970C-8CC89673EEFC</key>
            <dict>
                <key>items</key>
                <array>
                    <string>287954C5-7FE0-42F0-B23D-E9E3DC389357</string>
                    <string>1346E31B-8BCD-4428-8012-930D84B87DB9</string>
                    <string>------------------------------------</string>
                    <string>89659C8D-6758-4E7C-896A-B7808A160AD0</string>
                    <string>70239A44-C3DD-4B16-BB36-C24063C8DF75</string>
                    <string>A684B264-6F83-48B6-8453-460045C4C2EA</string>
                    <string>23E03F82-DFEA-4DCB-BA4F-EB919F35B500</string>
                    <string>51CCBF82-6544-46DC-81EF-8C958060307E</string>
                    <string>------------------------------------</string>
                    <string>BA1FDB2D-1216-40A5-A63B-0E46ECA7C6C6</string>
                    <string>6165E725-0F61-4040-AA55-E1CB7F55CC95</string>
                    <string>------------------------------------</string>
                    <string>875F066D-730E-4185-82FE-846D35BE8D04</string>
                    <string>A0283D20-8DC3-44F9-BBA6-7D1905D617D3</string>
                    <string>F805E27A-4FF7-4B93-BE3F-804EA2F2E690</string>
                    <string>4EDB5F02-AA24-4FF5-BE60-39461C5B9482</string>
                    <string>5A4FA4C7-D154-4F18-824F-9399D1B92706</string>
                    <string>A39EC032-F84F-45E0-AC18-2D8FB13D4FDB</string>
                    <string>------------------------------------</string>
                    <string>7BFA9AE4-A2CD-4270-A058-DBC1F0AD00E8</string>
                </array>
                <key>name</key>
                <string>Columns</string>
            </dict>
            
            <key>7BFA9AE4-A2CD-4270-A058-DBC1F0AD00E8</key>
            <dict>
                <key>items</key>
                <array>
                    <string>6310978E-BEB3-4902-B49D-016F1285C67F</string>
                    <string>58065B86-35AD-4FAA-ADD8-4A47EAFDB1C3</string>
                    <string>FFAC3C8A-6204-4FF4-A090-8F2D98904921</string>
                    <string>5190112E-4885-45CA-900C-B448259D0F65</string>
                    <string>4D3A74AE-D8A4-4263-9C1C-B5203F71ABEF</string>
                    <string>------------------------------------</string>
                    <string>80F8E676-1BC7-4764-AE61-87CF7A2D2BB1</string>
                    <string>------------------------------------</string>
                    <string>8669A3A2-66C1-47A2-A15A-876C79502204</string>
                    <string>2B508DC5-1639-4119-A59D-435DD2B2078E</string>
                    <string>FB5F492B-F453-4738-AD9C-FEF41FEFC7EF</string>
                    <string>38A8704E-E40C-44E2-8B89-71CE873A9BFC</string>
                    <string>F8CED114-5AC2-4252-9299-F8488DCAEA42</string>
                    <string>92A423DB-D4EA-4F8F-A4BD-ADB7D0E94D4B</string>
                    <string>8999130C-BA86-408D-ACF7-0808EB6A12B8</string>
                    <string>F97DC6FA-AF0F-45D6-9EB5-1F179524CC75</string>
                    <string>12E89213-ED73-444D-A4B1-90BB4C578888</string>
                    <string>531A6197-1D53-4C73-BA5A-6F616763CD8E</string>
                    <string>F46EA343-7C80-4782-ACF6-F8AD82EC9F4C</string>
                    <string>9DA8C1A3-D12D-4805-892E-875EA1DC7BE5</string>
                    <string>------------------------------------</string>
                    <string>C3BBA9AF-7A2A-4807-A9D2-094974D7E599</string>
                    <string>F0B0DDE8-8B38-4F90-BE65-76673A4C8970</string>
                    <string>------------------------------------</string>
                    <string>3EEDAA90-F0B5-477E-B72F-71AE2BE56CFB</string>
                    <string>77A79B03-38D4-43E6-8B3D-8C3C3CFBEC5C</string>
                    <string>2F0E5AD6-9832-4513-89EB-1B1EF40C939B</string>                    
                </array>
                <key>name</key>
                <string>Examples</string>
            </dict>
            
            <key>0E2D52BC-67DA-4A0F-B952-C8CAC49CEF2E</key>
            <dict>
                <key>items</key>
                <array>
                    <string>81351497-00C6-46D2-B19E-055A66E65DAA</string>
                    <string>9E56B5A1-CA5E-4002-897F-9023CB70435A</string>
                    <string>04B16B8F-42BC-43FA-943C-41B5A15D0A7D</string>
                    <string>85C3F4A2-8A1E-40C3-A5DF-833AE0CC0080</string>
                    <string>E6DEEAE5-913C-4605-AAF1-037ED5B05CDE</string>
                    <string>CB41BE16-B926-4ADF-BFFD-2F364EEC419F</string>
                    <string>------------------------------------</string>
                    <string>1856EE7E-97AC-44B2-B6C4-E6653DB8E906</string>
                </array>
                <key>name</key>
                <string>Layout</string>
            </dict>
            
            <key>81351497-00C6-46D2-B19E-055A66E65DAA</key>
            <dict>
                <key>items</key>
                <array>
                    <string>35CE9981-9B0F-4B57-B1C8-2F02A18AEEB0</string>
                    <string>DAD9400E-D916-43FE-8086-A39C42AF3C08</string>
                    <string>0F94274B-7366-4463-9477-196FC20A69DF</string>
                </array>
                <key>name</key>
                <string>Container</string>
            </dict>
            
            <key>9E56B5A1-CA5E-4002-897F-9023CB70435A</key>
            <dict>
                <key>items</key>
                <array>
                    <string>ED8DEBE6-22B4-414F-9AD0-D434DBD29E71</string>
                    <string>E80ECEBB-DD33-4761-9059-920EFF480264</string>
                    <string>280D559A-20AD-4E93-AEF0-41955BC603A1</string>
                    <string>58DE9378-95A4-4804-98F9-C6856F61CB93</string>
                    <string>BEE1F967-2FAE-484B-9CF8-F5C51848AB3C</string>
                </array>
                <key>name</key>
                <string>Level</string>
            </dict>
            
            <key>04B16B8F-42BC-43FA-943C-41B5A15D0A7D</key>
            <dict>
                <key>items</key>
                <array>
                    <string>9C727558-2056-4D52-896D-92D0BF08DF33</string>
                    <string>4CA3D70A-242B-4D65-BAC7-28736E09DEE5</string>
                    <string>1350F5E6-D3B9-4448-9AB7-4DFF52116E6F</string>
                    <string>EC75332A-4FCA-4120-9196-82F6F9B6CA33</string>
                </array>
                <key>name</key>
                <string>Media</string>
            </dict>
            
            <key>85C3F4A2-8A1E-40C3-A5DF-833AE0CC0080</key>
            <dict>
                <key>items</key>
                <array>
                    <string>ED8591D4-1119-49B7-B53B-FCCFEE99194A</string>
                    <string>38DF3ABF-F921-460A-9F56-DC3F7B21066B</string>
                    <string>D554D982-DE05-4427-91CA-58A396C929C0</string>
                    <string>21751563-DB4F-452D-8A84-5AE92D5DED92</string>
                    <string>54606D49-55C2-44C8-843A-65001091E177</string>
                    <string>6AAC8890-334A-462B-AC63-4C8FA5912C88</string>
                    <string>98904060-943D-4E9D-A38B-B3D964C46E9E</string>
                    <string>AB2FC4CC-E665-4D8D-BDC4-B40034DE67D0</string>
                    <string>41C6E6E2-5968-40F7-A502-7E91DA6B30E9</string>
                </array>
                <key>name</key>
                <string>Hero</string>
            </dict>
            
            <key>E6DEEAE5-913C-4605-AAF1-037ED5B05CDE</key>
            <dict>
                <key>items</key>
                <array>
                    <string>E3E63E66-01BE-4284-9D80-89576A3779D0</string>
                    <string>9A95378D-2B36-4603-A3FB-D00CC50FA343</string>
                    <string>BCF5A208-9567-4835-BD4E-C7AC3EB9F3AC</string>
                </array>
                <key>name</key>
                <string>Section</string>
            </dict>
            
            <key>CB41BE16-B926-4ADF-BFFD-2F364EEC419F</key>
            <dict>
                <key>items</key>
                <array>
                    <string>AFB04D67-7D63-4666-B070-6725EEF04C11</string>
                    <string>4674C981-C0B3-4036-A353-9755D7317890</string>
                    <string>E00470BF-8662-4D24-8140-FD249A11E555</string>
                </array>
                <key>name</key>
                <string>Footer</string>
            </dict>
            
            <key>1856EE7E-97AC-44B2-B6C4-E6653DB8E906</key>
            <dict>
                <key>items</key>
                <array>
                    <string>D3B3C0AE-EC1C-4CBF-8EC2-E573AC88DF91</string>
                    <string>155C2320-2B86-431C-86BC-9FF4C0FB5892</string>
                    <string>210BB2BA-0F53-4A29-BD9B-E50018D7D227</string>
                    <string>------------------------------------</string>
                    <string>C464B59D-91BF-4D50-9844-06865BA0E036</string>
                    <string>12F3B1C1-3D6B-4A58-BD21-84D9DAC5F65D</string>
                    <string>------------------------------------</string>
                    <string>80E353F0-8422-456C-A631-D1F2D4AF2094</string>
                    <string>363E91DB-FD93-4D98-9BEE-232907F407AB</string>
                    <string>80B459F2-C0A5-499A-82B6-A8F6F4464426</string>
                    <string>D09B5069-70F9-4307-81CB-67777D8833E1</string>
                </array>
                <key>name</key>
                <string>Examples</string>
            </dict>
            
            <key>2649E6F0-CBC6-41FD-ADC1-CDC440877CEB</key>
            <dict>
                <key>items</key>
                <array>
                    <string>4106536E-DF0F-47E8-80D0-3569E955933B</string>
                    <string>------------------------------------</string>
                    <string>DC0DA289-52F6-4500-8A87-D4979E73E958</string>
                    <string>82068E85-DFF4-4E90-B593-CABCB3D9096E</string>
                    <string>E1D5F0D4-6DF5-4183-A1D7-FABF578FE68A</string>
                    <string>86076E4E-70B7-4F11-9DBC-4E329158BBD2</string>
                    <string>B49C09A9-DB48-4567-9986-9B8879EB0DC0</string>
                    <string>0C586643-82BE-471A-9970-378843489620</string>
                    <string>1E5A69C6-4BF8-4F15-AD15-2DD949762BC2</string>
                    <string>786C627D-13EA-4134-B1D5-CF57F19D391C</string>
                    <string>------------------------------------</string>
                    <string>1FF8758C-4D08-458A-8F4E-DB44E156D372</string>
                    <string>------------------------------------</string>
                    <string>8DF5288C-2DF9-4166-83F6-1A95DB24DAB6</string>
                    <string>F81B99C5-120A-41DB-AC27-E5355179B730</string>
                </array>
                <key>name</key>
                <string>Form</string>
            </dict>
            
            <key>8DF5288C-2DF9-4166-83F6-1A95DB24DAB6</key>
            <dict>
                <key>items</key>
                <array>
                    <string>80DB117E-82FB-419F-855B-5963C89ED735</string>
                    <string>D1D715CF-8068-4A2A-8323-D3640D067462</string>
                    <string>7ABB29BE-13AA-4727-A841-0AF342ED20F4</string>
                    <string>2DD7839F-04FB-48AA-9DA3-AB5D4C632B85</string>
                    <string>709868FA-FC6D-4E8F-94CF-7E21B585B7DC</string>
                    <string>28CA6901-4D60-421C-928C-BEED62E43163</string>
                    <string>E3814A87-8D98-4B69-A6A5-DC0C8F1F54CD</string>
                    <string>D9E6C22C-EDE3-4B0D-B7DE-D1CE02BEA448</string>
                    <string>B544BBD6-FF5D-4224-A56E-03F1ED3E4FC3</string>
                    <string>CCA44D17-F98F-4C1F-98A8-DB4CE27BF3DD</string>
                    <string>41C8F227-250B-4B31-84BC-6B10C7F3DEA5</string>
                    <string>EE176E41-BB70-455F-8062-D8C379DCFE51</string>
                    <string>9D91A8B1-AAC2-4DBA-83FD-2C6B653A188C</string>
                    <string>------------------------------------</string>
                    <string>72813593-DDD2-461B-B0CE-A5EC19B31AC7</string>
                    <string>2EE6F7AF-E4E5-45EC-839D-1D5F8B1016D9</string>
                    <string>------------------------------------</string>
                </array>
                <key>name</key>
                <string>Input</string>
            </dict>
            
            <key>F81B99C5-120A-41DB-AC27-E5355179B730</key>
            <dict>
                <key>items</key>
                <array>
                    <string>CFBB853D-C661-4326-8EC1-1254F5E42B61</string>
                    <string>2357C80F-610F-40A6-AC3B-5AE472B8E3DE</string>
                    <string>D5D9A1E7-D38B-41A7-868E-712BD7142E43</string>
                    <string>28814C26-F25B-4579-9AB1-9CAC7516566C</string>
                    <string>A36CE888-6620-4B86-95CB-E3ABF5A54DF3</string>
                    <string>A7C2BFA5-E4AB-438C-ABF1-14CBFB88EAFC</string>
                    <string>48F7CFC0-1ACB-485D-9BDD-74DBE6B66280</string>
                    <string>F090D2EF-AD36-4C06-B678-5ABF1C47895E</string>
                    <string>------------------------------------</string>
                    <string>F5AEE3DC-0135-4FA2-917B-56E34951DA7C</string>
                    <string>------------------------------------</string>
                    <string>1A116520-6255-4C17-8D70-2719151D196E</string>
                    <string>AA3513CF-7256-43C0-9CF6-B1D7999F36E1</string>
                </array>
                <key>name</key>
                <string>Button</string>
            </dict>
            
            <key>46025736-CCA5-477E-A9ED-8BD5D9395E35</key>
            <dict>
                <key>items</key>
                <array>
                    <string>37C6D515-1B32-4D16-BD42-6B0FFB4B0A3F</string>
                    <string>37EE631A-E71E-4C2E-9E68-5D0AE5FC6E68</string>
                </array>
                <key>name</key>
                <string>Tools</string>
            </dict>
            
            <key>3AD903C0-FB67-4232-AED9-0189D3738F97</key>
            <dict>
                <key>items</key>
                <array>
                    <string>79EE3330-6674-4B19-AE6D-DE34CDA5C9CF</string>
                    <string>A59C2F68-0C05-42B1-9D8C-293557720C39</string>
                </array>
                <key>name</key>
                <string>Responsive Visibility Helpers</string>
            </dict>
            
            <key>485014A5-E7A4-4AE0-B4CE-5B1EF80B8779</key>
            <dict>
                <key>items</key>
                <array>
                    <string>DCA4EEA8-936D-4F66-B84C-FE9735D83F34</string>
                    <string>89A5F733-1756-4FA2-B20D-4691EC32508D</string>
                    <string>87B90023-DD1D-4526-BA57-C23B6FD0B286</string>
                </array>
                <key>name</key>
                <string>Floating, Spacing and more</string>
            </dict>    
            
        </dict>

    </dict>
</dict>
</plist>

